$danger: #EF233C; // .mindsred
$warning: #FFC300; // .mindsyellow
$dark: #252525; // .mindsblack
$light: #FBFBFB; // .mindslightwhite
$primary: #a0a0a0; // .mindsorange

//Bootstrap overrides
$font-weight-bold: 900;


//card overrides
$card-bg: none;

//spacer overrides
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer * 2.2,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5,
  8: $spacer * 8,
  17 : $spacer * 17,
  20 : $spacer * 20,
);

//font-size base
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 3.75;